<%= simple_form_for @question, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :score %>
  <%= f.input :num %>
  <%= f.input :state %>
  <%= f.input :description %>
  <%= f.input :answer %>
  <%= f.input :choices %>
  <%= f.input :description3 %>
  <%= f.input :choices_description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                questions_path, :class => 'btn' %>
  </div>
<% end %>
