<%- model_class = Question -%>
<div class="page-header">
  <h1><%=@title%></h1>
</div>

<% if params['kind'] == 'zhenti'%>
<ul class="nav nav-pills">
  <li class="<%=request.fullpath.include?(questions_path) ? 'active' : '' %>">
    <%=link_to '全部',questions_path%></li>
  <% Epmenu.roots.each do |epmenu|%>
    <li class="<%= request.fullpath.include?(epmenu_questions_path(epmenu)) ? 'active' : '' %>"><%=link_to epmenu.title, epmenu_questions_path(epmenu)%></li>
  <% end %>
</ul>
<% end %>

<% if params['kind'] == 'moni'%>
<ul class="nav nav-pills">
  <li class="<%=request.fullpath == questions_path(:kind=>:moni) ? 'active' : '' %>">
    <%=link_to '全部',questions_path(:kind=>:moni)%></li>
  <% Question.scope_moni.select('epmenu').group('epmenu').collect{|i|i.epmenu}.each do |epmenu|%>
    <li class="<%= request.fullpath == questions_path(:kind=>:moni,:epmenu=>epmenu) ? 'active' : '' %>"><%=link_to epmenu, questions_path(:kind=>:moni,:epmenu=>epmenu) %></li>
  <% end %>
</ul>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:num) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:answered_count) %></th>      
      <th><%= model_class.human_attribute_name(:right_rate) %></th>      
      <th><%=t 'actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |question| %>
      <tr>
        <td><%= link_to truncate(question.title), question_path(question) %></td>
        <td><%= question.score %></td>
        <td><%= question.num %></td>
        <td><%= question.state %></td>
        <td><%= question.answered_count %></td>
        <td><%= question.right_rate.round(3) %></td>
        <td>
          <%= link_to t('edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails,:class=>'text-center pagination' %>

<script>
  $(function(){
    var href_arr = window.location.href.split('/');
    var path = href_arr[href_arr.length-1];
    if(path=='questions?kind=zhenti' || path=='questions'){
      $("a[href='/questions?kind=zhenti']").parent().addClass('active');
      $("a[href='/questions']").parent().addClass('active');
      $("a[href='/questions?kind=moni']").parent().removeClass('active');
    }
    if(path=='questions?kind=moni'){
      $("a[href='/questions']").parent().removeClass('active');
      $("a[href='/questions?kind=moni']").parent().addClass('active');
    }
  })
</script>