<%= simple_form_for @captcha, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :user_id %>
  <%= f.input :title %>
  <%= f.input :valid_at %>
  <%= f.input :state %>
  <%= f.input :expired_at %>
  <%= f.input :assigned_at %>
  <%= f.input :duration %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                captchas_path, :class => 'btn' %>
  </div>
<% end %>
