<%- model_class = Captcha -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<ul class="nav nav-pills">
  <li class="<%=tab_class(:valid)%>">
  	<%=link_to '生效中',:controller=>:captchas,:action=>:valid%>  
  </li>
  <li class="<%=tab_class(:expired)%>">
  	<%=link_to '已过期',:controller=>:captchas,:action=>:expired%>
  </li>
  <li class="<%=tab_class(:unused)%>">
  	<%=link_to '未使用',:controller=>:captchas,:action=>:unused%>
  </li>
</ul>