<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @captcha.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @captcha.title %>
</p>

<p>
  <b>Used at:</b>
  <%= @captcha.used_at %>
</p>


<%= link_to 'Edit', edit_captcha_path(@captcha) %> |
<%= link_to 'Back', captchas_path %>
