<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <td><strong><%= model_class.human_attribute_name(:email) %>:</strong></td>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:username) %>:</strong></td>
    <td><%= @user.username %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:qq) %>:</strong></dt>   <td><%= @user.qq %></td>
  </tr>

  <tr>
    <td><strong><%= model_class.human_attribute_name(:phone) %>:</strong></td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:signature) %>:</strong></td>
    <td><%= @user.signature %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:complex) %>:</strong></td>
    <td><%= @user.complex %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:complex_rank) %>:</strong></td>
    <td><%= "#{Istudy.complex_rank(@user)[:rank]}/#{Istudy.complex_rank(@user)[:total]}" %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:xueba) %>:</strong></td>
    <td><%= Istudy.xueba(@user) %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:time) %>:</strong></td>
    <td><%= Heartbeat.duration(Heartbeat.ranges(@user,@user)) %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:evaluate) %>:</strong></td>
    <td><%= Istudy.evaluate(@user) %></td>
  </tr>
  <tr>
    <td><strong>做题总数:</strong></td>
    <td><%= @user.histories.count() %></td>
  </tr>
  <tr>
    <td><strong>做题正确率:</strong></td>
    <td><%= (@user.histories.right.count()*1.0/@user.histories.count()).round(3) %></td>
  </tr>
  <tr>
    <td><strong>播放音频次数:</strong></td>
    <td><%= @user.play_audio_count %></td>
  </tr>
  <tr>
    <td><strong>填空次数:</strong></td>
    <td><%= @user.open_blank_count %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:epmenus_summaries) %>:</strong></td>
    <td>
      <table class="table table-striped table-bordered">
        <% Istudy.epmenus_summaries(@user)[:epmenus].each do |summary| %>
        <tr>
          <td class='span3'>
            <%=summary[:title]%>
          </td>
          <td>
            <div class="progress progress-striped active" >
              <div class="bar bar-success" style="width: <%=summary[:ratio]*100%>%;"></div>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>

<div class="form-actions">
  <%= link_to t('back', :default => t("helpers.links.back")),
              users_path, :class => 'btn'  %>
<!--  <%= link_to t('edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
  <%= link_to t('destroy', :default => t("helpers.links.destroy")),
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %> -->
</div>
