<h1>Listing heartbeats</h1>

<table>
  <tr>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @heartbeats.each do |heartbeat| %>
  <tr>
    <td><%= heartbeat.user_id %></td>
    <td><%= link_to 'Show', heartbeat %></td>
    <td><%= link_to 'Edit', edit_heartbeat_path(heartbeat) %></td>
    <td><%= link_to 'Destroy', heartbeat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Heartbeat', new_heartbeat_path %>
