<%- model_class = Import -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:file_file_name) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%=t 'actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |import| %>
      <tr>
        <td><%= link_to import.id, import_path(import) %></td>
        <td><%= import.title %></td>
        <td><%= link_to import.file_file_name,import.file.url %></td>
        <td><%=t "simple_form.options.import.state.#{import.state}"%></td>
        <td>
          <%= link_to t('import', :default => t("helpers.links.import")),
                      import_import_path(import), :class => 'btn btn-mini' %>
          <%= link_to t('edit', :default => t("helpers.links.edit")),
                      edit_import_path(import), :class => 'btn btn-mini' %>
          <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                      import_path(import),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
