<script>
// $("#myTab").tab();
$(function(){
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
})
</script>
<br/><br/><br/>
<ul class="nav nav-tabs" id="myTab">
  <% Import::State.each_with_index do |state,index|%>
  <li class="<%=index==0 ? 'active' : ''%>"><a href="#<%=state%>"><%=t "simple_form.options.import.state.#{state}"%></a></li>
  <% end %>
</ul>
 
<div class="tab-content">
  <% Import::State.each_with_index do |state,index|%>
  <div class="tab-pane <%=index==0 ? 'active' : ''%>" id="<%=state%>">
    <%= render 'list',:collection=>Import.send(state).order('id desc'),:title=>t(state)%>
  </div>
  <% end %>
  <div class="tab-pane" id="explain">
    <%= render 'explain'%>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_import_path, :class => 'btn' %>
  <%#= link_to t('.import_all', :default => t("helpers.links.new")),
              imports_import_all_path, :class => 'btn',:data => { :confirm => t('.confirm_import_all', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>

</div>

