<script>
// $("#myTab").tab();
$(function(){
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
})
</script>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#laws_zip"><%=t :laws_zip%></a></li>
  <li><a href="#freelaws_zip"><%=t :audios%></a></li>
  <li><a href="#explain">导入说明</a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="laws_zip">
    <%= render 'list',:collection=>Import.laws_zip.order('id desc'),:title=>t(:eps)%>
  </div>
  <div class="tab-pane" id="freelaws_zip">
    <%= render 'list',:collection=>Import.audios.order('id desc'),:title=>t(:audios)%>
  </div>
  <div class="tab-pane" id="explain">
    <%= render 'explain'%>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_import_path, :class => 'btn' %>
  <%#= link_to t('.import_all', :default => t("helpers.links.new")),
              imports_import_all_path, :class => 'btn',:data => { :confirm => t('.confirm_import_all', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>

</div>

