<script>
// $("#myTab").tab();
$(function(){
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
})
</script>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#freelaws"><%=t :freelaws%></a></li>
  <li><a href="#laws"><%=t :laws%></a></li>
  <li><a href="#questions"><%=t :questions%></a></li>
  <li><a href="#eps"><%=t :eps%></a></li>
  <li><a href="#laws_zip"><%=t :laws_zip%></a></li>
  <li><a href="#freelaws_zip"><%=t :freelaws_zip%></a></li>
</ul>
 
<div class="tab-content">
  <div class="tab-pane active" id="freelaws">
    <%= render 'list',:collection=>Import.freelaws.order('id asc'),:title=>t(:freelaws)%>
  </div>
  <div class="tab-pane" id="laws">.
    <%= render 'list',:collection=>Import.laws.order('id asc'),:title=>t(:laws)%>
  </div>
  <div class="tab-pane" id="questions">
    <%= render 'list',:collection=>Import.questions.order('id asc'),:title=>t(:questions)%>
  </div>
  <div class="tab-pane" id="eps">
    <%= render 'list',:collection=>Import.eps.order('id asc'),:title=>t(:eps)%>
  </div>
  <div class="tab-pane" id="laws_zip">
    <%= render 'list',:collection=>Import.laws_zip.order('id asc'),:title=>t(:eps)%>
  </div>
  <div class="tab-pane" id="freelaws_zip">
    <%= render 'list',:collection=>Import.freelaws_zip.order('id asc'),:title=>t(:eps)%>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_import_path, :class => 'btn' %>
  <%= link_to t('.import_all', :default => t("helpers.links.new")),
              imports_import_all_path, :class => 'btn',:data => { :confirm => t('.confirm_import_all', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>

</div>

