<%= form_for(@freelaw) do |f| %>
  <% if @freelaw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@freelaw.errors.count, "error") %> prohibited this freelaw from being saved:</h2>

      <ul>
      <% @freelaw.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :ancestry %><br />
    <%= f.text_field :ancestry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
