<%- model_class = Freelaw -%>
<% unless collection.blank?%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <% if collection.first.state == 'node'%>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <% end %>
      <th><%=t 'actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |freelaw| %>
      <tr>
        <td><%= link_to freelaw.title, freelaw_path(freelaw) %></td>
        <% if collection.first.state == 'node'%>
        <td><%= freelaw.number %></td>
        <% end %>
        <td>
          <%= link_to t('edit', :default => t("helpers.links.edit")),
                      edit_freelaw_path(freelaw), :class => 'btn btn-mini' %>
          <%= link_to t('destroy', :default => t("helpers.links.destroy")),
                      freelaw_path(freelaw),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>