<%= simple_form_for(@law,:html => {:class => 'form-horizontal' }) do |f| %>
  <% if @law.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@law.errors.count, "error") %> prohibited this law from being saved:</h2>

      <ul>
      <% @law.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :title,:as=>:string %>
    <%= f.input :content,:as=>:string %>
    <%= f.input :sound,:as=>:file%>
    <%= f.button :submit %>
<% end %>
