<%= simple_form_for @law, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title ,:input_html=>{:class=>'span6'}%>
  <% if f.object.state == 'node' %>
  <%= f.input :blanks,:input_html=>{:class=>'span6'}%>
  <%= f.input :score,:input_html=>{:class=>'span6'} %>
  <%= f.input :number,:input_html=>{:class=>'span6'} %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                laws_path, :class => 'btn' %>
  </div>
<% end %>
